footer.app-footer {
  > .center-content {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    max-width: $max-width;

    margin: 0 auto;
    padding: 16px;

    
    > small {
      font-size: 12px;
      line-height: 20px;
      color: $secondary-text;
      
      > a {
        color: inherit;
      }
    }
    
    > span {
      font-size: 14px;
      line-height: 24px;
      color: $secondary-text;
    }
  }
}