header.app-header {
  position: sticky;
  top: 0;
  background: $background-lighter;

  height: 60px;
  border-bottom: 1px solid $divider-lighter;
  z-index: 5;

  > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: $max-width;
    margin: 0 auto;
    padding: 0 16px;
    height: 100%;

    > strong {
      font-size: 24px;
      line-height: 32px;
    }

    > div {
      > button {
        @include scale-animation;

        padding: 12px 34px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 1.1px;
        border: 0;
        background: transparent;

        & + button {
          margin-left: 8px;
        }

        // &:hover {
        //   transform: scale(1.1);
        // }

        &:last-child {
          border-radius: 32px;
          background: $text;
          color: $background;
        }
      }
    }
  }
}
