ul.playlists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;

  @media screen and (max-width: 680px) {
    display: flex;
    overflow: auto hidden;
    scroll-snap-type: x mandatory;

    padding: 2px 16px;
    margin: -2px -16px;
  }

  > li {
    @media screen and (min-width: 681px) {
      @include fade-animation-with-delay(10);
    }

    width: 100%;
    height: 100%;
 
    scroll-snap-align: center;

    @media screen and (max-width: 680px) {
      width: 240px;
    }

    &:focus-within,
    &:hover {
      > div {
        transform: translateY(-2px);

        > a {
          border-color: $divider-lighter;
        }

        > button {
          transform: scale(1);
        }
      }
    }

    > div {
      width: inherit;
      height: inherit;
      position: relative;

      transition: transform 100ms ease-out;

      > a {
        display: flex;
        flex-direction: column;

        height: 100%;
        padding: 16px;
        background: $background-lighter;
        border: 1px solid $divider;
        border-radius: 6px;

        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

        outline: 2px solid transparent;
        outline-offset: 4px;

        transition-duration: 100ms;
        transition-timing-function: ease-out;
        transition-property: border-color, transform, outline-color;

        &:active {
          transform: scale(0.98);
        }

        &:focus-visible {
          outline-color: $text;
        }

        > img {
          width: 100%;
          height: 180px;
          border-radius: inherit;
          object-fit: cover;

          pointer-events: none;
          user-select: none;
        }

        > strong {
          font-size: 20px;
          margin-top: 8px;
          width: 100%;

          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        > span {
          font-size: 12px;
          margin-top: 8px;

          color: $secondary-text;

          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      > button {
        @include scale-animation($withFocus: false);

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        bottom: 16px;
        right: 16px;

        $size: 40px;

        width: $size;
        height: $size;
        border-radius: $size;
        border: 0;
        
        background: $primary;
        box-shadow: 1px 1.5px 2px rgba(0, 0, 0, 0.3);

        transform: scale(0);

        @media screen and (max-width: 680px) {
          transform: scale(1);
        }

        > i {
          color: $primary-contrast;
          user-select: none;
        }
      }
    }
  }
}
